<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.newpaltz.cs.hasbrour1.clycker" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.newpaltz.cs.hasbrour1.clycker.MainActivity" />
        </activity>
        <activity
            android:name=".StartTest"
            android:label="@string/title_activity_start_test"
            android:parentActivityName=".TestActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.newpaltz.cs.hasbrour1.clycker.TestActivity" />
        </activity>
        <activity
            android:name=".SendTestData"
            android:label="@string/title_activity_send_test_data"
            android:parentActivityName=".StartTest" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.newpaltz.cs.hasbrour1.clycker.StartTest" />
        </activity>
    </application>

</manifest>
